.tblRealEstate{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.body{
  width: 100%;
}

.form {   
    text-align: left;
    background-color: blue;
    margin-left: 50px;
    height: auto;
  }
  
  .submit {
    background-color: #58257b;
    color: white;
    width: 90px;
    height: 40px; 
    border: 2px solid #555555;
    border-radius: 10px;
   
      
  }
  .cancel {
    background-color:aliceblue;
    color: black;
    width: 90px;  
    height: 40px;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-left: 50px;
  }

  .table thead th{
    font-size: 80%;
  }

  .text{
      font-size: 24px;  
      margin-right: 750px; 
      color: #58257b
  
  }
  .input-form{
    width: 900px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .content-wrapper{
    width: 100%;
  }

  .input-form {
  
      width: 900px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    
  }

  .img{
    width: 100%;
    height: auto;
  }

  .title-table{
    background-color: #dc3545;
    color:white;
    width: 100%;
  }
  .title{
    width: 15%;
  }
  .descripion{
    width: 20%;
  }

  .fas fa-edit{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;  
    float: left;   
  }

  #h3{
    border-style: solid LightGray;
    border-radius: 10px;
    color: black;
    height: 60px;
    text-align: center;
    font-size: 34px;
    width: 1300px;
    margin-left: 100px;
  }
  #h4{
    border-style:3px solid LightGray;
    border-radius: 10px;
    color: black;
    height: 60px;
    text-align: center;
    font-size: 34px;
    width: 1000px;
    margin-left: 500px;
  }
