
@model IList<ShareModel.CategoryModel>

@foreach (var category in Model)
{
    <li class="cat-item " style="  list-style-type: none;margin-left:20px">
        <a class="nav-link text-dark" asp-controller="RealEstate" asp-action="CategoryById" asp-route-categoryName="@category.CategoryName">@category.CategoryName</a>
    </li>
}
