
@{
    ViewData["Title"] = "introduce";
}

<div class="container-fluid">
    <div class="card-home">
        <div class="row">
            <div class="col-6">
                <h3>Bộ sưu tập</h3>
                <p>
                    Caesar kitchen tâm niệm rằng, một bộ tủ bếp đúng nghĩa là việc đáp ứng đúng và đủ nhu cầu sử dụng,
                    mang lại sự ấm cúng và hứng thú cho gia chủ chứ không phải là sự đồ sộ về kích thước hay vẻ hào nhoáng
                    bóng bẩy bên ngoài. Phong cách chủ đạo của Caesar kitchen & cabinets là tạo hình nghệ thuật đương đại
                    – xu hướng trang trí nội thất được ưa chuộng nhất hiện nay.
                </p>
            </div>
                    <img src="https://res.cloudinary.com/dusq8k6rj/image/upload/v1639595526/Source/vensong_tuenwb.jpg"/>
            <div class="col-6">

            </div>

        </div>

    </div>

</div>

